<Project>

  <PropertyGroup>
    <GameRootDir>..\ATLYSS\</GameRootDir>
    <BepInExRootDir>..\ATLYSS\BepInEx\</BepInExRootDir>

    <BepInExPluginsDir>$(BepInExRootDir)plugins\</BepInExPluginsDir>
    <BepInExCoreDir>$(BepInExRootDir)core\</BepInExCoreDir>
    <GameDataManagedDir>$(GameRootDir)ATLYSS_Data\Managed\</GameDataManagedDir>
    <BepInExPluginDir>$(BepInExPluginsDir)Tanuki-Tanuki_Atlyss\Tanuki_Atlyss\</BepInExPluginDir>
  </PropertyGroup>

</Project>
